body{
	background:url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-2.jpg);
	background-size: cover;
	background-opacity:.9px;
}
h1{
	color: red;
	padding: 20px;
	font-size: 60px;
	font-weight: 10px;
}
label{
	color: black;
	font-size: 15px;
	margin-left: 10px;
}
form{
	display: flex;
	justify-content: center;
}
img{
	width: 300px;
	height: auto;
	opacity: .94;

}
#submit-button{
 	margin-left: 10px;
}
#foodDisplay,
#movieDisplay{
	margin: 5.0115px;
	max-width: 560px;
	float: left;
	max-height: 500px;
  	overflow: auto;


}
.jumbotron{
	background: transparent;
}
.info{
	opacity: .9;
	display: flex;
}
.title{
	max-width: 90%;
}
.expand{
	float: right;
	color: red;
	font-size: 3em;
}
.movieItem{
	list-style: none;
}
.movieItem:hover{
	background-color: red;
	color: white;
	cursor: pointer;
}
.movieItem:hover .theaters{
	color: red;
	background-color: white;
}
.movieItem:hover .expand{
	color: white;
}
.movieItem:hover .site{
	color: white;
}
.title{
	display: inline-block;
}
.site{
	float: right;
	color: red;
}
.theaters{
	margin-bottom:15px;
}
.hide{
	display: none;
}
