body{
	background:url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-2.jpg);
	background-size: cover;
	background-opacity:.9px;
}
h1{
	color: red;
	padding: 20px;
	font-size: 60px;
	font-weight: 10px;
}
label{
	color: white;
	font-size: 15px;
	margin-left: 10px;
}
form{
	display: flex;
	justify-content: center;
}
img{
	width: 300px;
	height: auto;
	opacity: .94;

}
#submit-button{
 	margin-left: 10px;
}
#foodDisplay{
	float: left;
	background: firebrick;
	border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
	max-height: 500px;
	max-width: 565px;
  	overflow: auto;
}
#movieDisplay{
	float: right;
	background: firebrick;
	border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
	max-height: 500px;
	max-width: 565px;
  	overflow: auto;
}
.jumbotron{
	background: transparent;
}
.info{
	opacity: .9;
	background: firebrick;
	border: none;
}
.panel-heading{
	background-color:firebrick; 
	color:white; 
	border-radius: 20px;
}
.title{
	max-width: 90%;
}
.expand{
	float: right;
	color: red;
	font-size: 3em;
}
.movieItem{
	list-style: none;
}
.movieItem:hover{
	background-color: firebrick;
	color: white;
	cursor: pointer;
}
.movieItem:hover .theaters{
	color: firebrick;
	background-color: white;
}
.movieItem:hover .expand{
	color: white;
}
.movieItem:hover .site{
	color: white;
}
.title{
	display: inline-block;
}
.site{
	float: right;
	color: red;
}
.theaters{
	margin-bottom:15px;
}
.hide{
	display: none;
}
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: thin;
}
