html,body, .wrap{
	min-height: 100%;
}
#map{
	height: 500px;
	margin: 25px;
}
body{
	background:url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-2.jpg);
	background-size: cover;
	background-opacity:.9px;
}
label{
	color: white;
	font-size: 15px;
	margin-left: 10px;
}
form{
	display: flex;
	justify-content: center;
}
img{
	width: 300px;
	height: auto;
	opacity: .94;
}

#city-input, #zip-input{
	/*width: 100px;*/
}

#date-input {
	/*width: 140px;*/
}

#submit-button{
 	/*margin-top: 10px;*/
 	float: right;
}
#foodDisplay{
	background: firebrick;
	border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
	max-height: 500px;
	/*max-width: 565px;*/
  	overflow: auto;
}
#movieDisplay{
	
	background: firebrick;
	border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
	max-height: 500px;
	/*max-width: 565px;*/
  	overflow: auto;
}
#content-area{
	display: flex;
	justify-content: space-between;
}
.jumbotron{
	background: transparent;
}
.info{
	opacity: .9;
	background: firebrick;
	border: none;
	margin: 0 auto;
	width: 100%;
	/*text-align: center;*/
}
.panel-heading{
	background-color:firebrick; 
	color:white; 
	border-radius: 20px;
}
.title{
	max-width: 90%;
}

.expand{
	float: right;
	color: firebrick;
	font-size: 3em;
}
.movieItem{
	list-style: none;
}
.movieItem:hover{
	background-color: firebrick;
	color: white;
	cursor: pointer;
}
.movieItem:hover .theaters{
	color: firebrick;
	background-color: white;
}
.movieItem:hover .expand{
	color: white;
}
.movieItem:hover .site{
	color: white;
}
.title{
	display: inline-block;
	font-variant: small-caps;
}
.cast{
	font-weight: bold;
}
.cast-members{
	border-bottom: 2px solid white;
	margin-bottom:5px;
	padding-bottom: 5px;
}
.actor{
	display: inline-block;
	margin: 0px 20px;
}
.site{
	float: right;
	color: white;
}
.theaters, option{
	margin-bottom:15px;
	color: firebrick;
	font-weight: bold;
}
.hide{
	display: none;
}

.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: thin;
}
.unavailable{
	display: inline-block;
	margin-left: 15px;
}
.open{
	background-color: firebrick;
	color: white;
}

#city-label, #zip-label, #date-label {
	margin: auto;
}