body{
	background:url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-2.jpg);
	background-size: cover;
}
h1{
	color: red;
	padding: 20px;
	font-size: 60px;
	font-weight: 10px;
}
label{
	color: black;
	font-size: 15px;
	margin-left: 10px;
}
form{
	display: flex;
	justify-content: center;
}
#submit-button{
	float: right;
	
}
.jumbotron{
	opacity: .5;
}
.info{
	float: left;
	opacity: .9;
	display: flex;
}
.expand{
	float: right;
}
.movieItem{
	list-style: none;
}
.hide{
	display: none;
}